<div>
<h1 id="social-network-heading">Social Network</h1>
    <div class='col-md-8 form-container-main'>
        <div class="col-lg-6 form-container" id="#login-form-container">
            <div class="well bs-component" id="login-form-inner-container">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputUsername" ng-model="loginData.username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" ng-model="loginData.password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="button" class="btn btn-primary btn-welcome" id="login" value="Login" ng-click="login(loginData)">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


    <div class="col-lg-6 form-container">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="registrationUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="registrationUsername" ng-model="userData.username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registrationPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="registrationPassword" ng-model="userData.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-lg-2 control-label">Confirm password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="confirmPassword" ng-model="userData.confirmPassword" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name"  ng-model="userData.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="inputEmail"  ng-model="userData.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Gender</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label class="radio-button">
                                <input type="radio" name="gender" value="male" checked="" ng-model="userData.gender" required>
                                Male
                            </label>
                            <label class="radio-button">
                                <input type="radio" name="gender" value="female" checked="" ng-model="userData.gender" required>
                                Female
                            </label>
                            <label class="radio-button">
                                <input type="radio" name="gender" value="azis" checked="" ng-model="userData.gender" required>
                                Azis
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="button" class="btn btn-primary btn-welcome" ng-click="register(userData)" value="Register">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>