#login-form-container {
    min-height: 529px;
}

#login-form-inner-container {
    min-height: 510px;
}

#social-network-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#profile-picture-data {
    max-width: 50px;
}

#change-profile-details {
    margin-right: 2px;
    margin-left: 15%;
}

#edit-profile-radio-buttons {
    width: 100%;
}

.form-control {
    margin-left: 2%;
}

.radio-button {
  margin-left: 4%;
}

.btn-welcome {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.form-container-main {
    margin-left: 15%;
    margin-right: auto;
}

.picture-preview {
    max-width: 50%;
}